.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    color: #ff7779;
    z-index: 100;
    width: 100%;
    top: 0;
    border-bottom: 0.01em solid #ffcbcc;
}
div.header__brand{
    display: flex;
    align-items: center;
    padding: 10px;
}
.header__center{
    display: flex;
    flex: 1;
}
.header__center > div{
    padding: 10px;
    display: inline-block;
}
.header__right{
    display: flex;
    align-items: center;
    padding: 10px;
}
.header__right:hover{
    background-color: #ff7779;
    color: white;
}

.header__center > div:hover{
    background-color: #ff7779;
    color: white;
}
nav .navbar-collapse .collapse{
    display: block;
}
@media screen and (max-width:768px) {
    nav .navbar-collapse .collapse{
        overflow : hidden;
    }
    nav .navbar-collapse .active{
        height: auto !important;
    }
}
nav .navbar-collapse .collapse{
    transition: .6s all ease-in-out;
    height: 0 i !important;
}

*{
    box-sizing: border-box;
}

.navbar-local{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff7779;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
.brand-title{
    margin: 1rem;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: white;
}
.navbar-links li:hover{
    background-color: #f58e8e;
}
.navbar-links-mobile{
    display: none;
    animation: sampleAnimation 1s ease;
}

@keyframes sampleAnimation {
    from{
        display: none;
    }    
    to {
        display: flex;
    }
}

.toggle-button{
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width:600px) {
    .toggle-button{
        display: flex;
        cursor: pointer;
    }    
    .navbar-links{
        display: none;
    }
    .navbar-local{
        flex-direction: column;
        align-items: flex-start;
    }

    /*.navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li a{
        text-align: center;
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }*/
    div.navbar-links-mobile{
        display: flex;
        width: 100%; 
        animation: appear 1s forwards ease;
    }

    @keyframes appear {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    .navbar-links-mobile ul{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar-links-mobile li{
        list-style: none;
    }
    .navbar-links-mobile li a{
        text-decoration: none;
        display: block;
        padding: .5rem 1rem;
        color: white;
        text-align: center;
    }
    .navbar-links-mobile li:hover{
        background-color: #f58e8e;
    }
}